@font-face {
    font-family: 'DoubleFeature20';
    src: url('fonts/DoubleFeature20.ttf');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;
    font-family: "Courier New";
}

h2 { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 550px;
    left: 0;
    width: 100%;
    color: #BD0001;
    text-align: center;
}

section {
    margin-top: 65px;
}

nav {
    background-color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    min-height: 650px;
    max-width: 750px;
    position: relative
}

ul {
  
  font-family: 'DoubleFeature20', 'Courier New';
}

label {
    color: #BD0001;
}

.bodies-section {
    color: #BD0001;
}

.bodies-section ul {
    list-style-type: none;
    font-size: 32px;
    padding-left: 0px;
}